# python environment
.venv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

# jupyter notebooks
**/.ipynb_checkpoints

# mlflow
**/mlruns
**/*.db

# .env
**/.env

# artifacts
**/artifacts
**/data
**/models

